* {
    box-sizing: border-box;
}

@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
 }
body {
    font-family: sans-serif;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 20px;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    text-align: center;
    padding: 40px;
    border: 2px solid black;
    font-size: large;
}

.double {
    flex-basis: 50%;
}

.display {
    color: white;
    padding: 10px 20px;
    font-size: 2em;
    width: 100%;
    border: 2px solid black;
    background-color: #333333;
}

.operator, .negative, .equals {
    background-color: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button:hover {
    font-weight: bold;

  }

  
footer {
    padding: 10px;
    color:white;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history {
    width: 80%;
    margin: 30px auto;
    overflow: scroll;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

th,td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even) {
    background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
    .button {
          padding: 10px;
    }
    .history {
          width: 100%;
    }
   }
   